#sb-title {
	padding-right: 20px; /*clear #sb-nav-close by 4px*/
	z-index: 1;
}
#sb-nav-close {
	background-color: transparent;
	background-image: url(resources/close_top.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	position: absolute;
	top: 26px; /*initially set to same as #sb-title height*/
	right: 0;
	display: block;
	width: 55px;
	height: 16px;
	cursor: pointer;
	z-index: 2;
}

#sb-title-inner{
	font-size:16px;padding:5px 0px;color: #FFF;
}

#sb-body {
	z-index: 3;
}
#sb-info {
	z-index: 4;
}
